:root{
    --textColor: black;
    --color1: white;
    --color2: black;
    --color3: rgb(173, 207, 207);
    --color4: rgb(211, 165, 81); 
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color1);
    color: var(--textColor);
}

header {
    background-color: var(--color3);
}

header h1 {
    display: inline-block; 
    padding-left: 40px;
    font-size: 48px;
}

nav {
    display: flex;
    float: right;
    margin-right: 40px;
    padding-top: 15px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--color2);
    text-decoration: none;
    font-size: 24px;
}

p {
    font-size: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#workExamples {
    /* display: flex;
    flex-wrap: wrap; */
}

article {
    display: flex;
    flex-wrap: wrap;
}

.hero {
border-style: solid;
  border-width: 1px;
  /* border-radius: 10px; */
  padding: 10px;
  /* width: 100%; */
  flex: 0 0 200px;
  background-color: var(--color4);
}

.card {
  border-style: solid;
  border-width: 1px;
  /* border-radius: 10px; */
  padding: 10px;
  flex: 0 0 200px;
  background-color: var(--color4);
}

.card img {
    max-height: 200px;
}

aside {
 flex: 1;
 background-color: var(--color2);
 padding: 50px;
 text-align: center;
}

.sideTitles {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: var(--color3);
}

#aboutMe {
    background-color: var(--color3);
}

footer {
    background-color: var(--color3);
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }