:root{
    --textColor: black;
    --color1: white;
    --color2: rgba(111, 73, 216, 0.377);
    --color3: rgb(173, 207, 207);
    --color4: rgb(211, 165, 81); 
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color1);
    color: var(--textColor);
    margin: 0;
}

header {
    background-color: var(--color3);
}

header h1 {
    display: inline-block; 
    padding-left: 40px;
    font-size: 48px;
}

nav {
    display: flex;
    background-color: var(--color2);
    /* position: fixed; */
}

nav a {
    color: var(--textColor);
    text-decoration: none;
    font-size: 24px;
    padding: 14px 20px;
    text-align: center;
}

p {
    font-size: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#workExamples {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    justify-content: space-between;
}

article {
    display: flex;
    flex-wrap: wrap;
}

/* .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/pic5.webp");
    background-size: cover;
    background-position: center;
} */

.bigCard {
    border-style: solid;
    border-color: var(--color2);
    border-width: 5px;
    padding: 10px;
    margin: 10px;
    flex: 2 1 200px;
    background-color: var(--color1);
    
}

.bigCard img {
    position: relative;
    margin: auto;
    flex: 1 2 auto;
}

.card {
    border-style: solid;
    border-color: var(--color2);
    border-width: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1 0 200px;
    background-color: var(--color1);
}

.card img {
    max-height: 200px;
    position: relative;
    margin: auto;
}

aside {
    flex: 1;
    background-color: var(--color1);
    padding: 50px;
    text-align: center;
    border-right: 10px solid;
    margin-right: 20px;
    border-color: var(--textColor);
    width: 25%; 
}

aside h2 {
    font-size: 48px;
}

#aboutMe {
    background-color: var(--color3);
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: var(--color3);
    clear: both;
    padding: 40px;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }

    aside {
        display: none;
    }
  }