:root{
    --color1: azure;
    --color2: black;
    --color3: aquamarine;
    --color4: white; 
}

body {
    background-color: azure;
    color: black;
}

header {
    background-color: aquamarine;
}

.sideTitles {
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}